$yellow: #edcc92;
$blue: #0089ec;
.explorer-nav-holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin-top: 1%;
  text-align: center;
  z-index: 10;
  .nav-list {
    margin-left: 15%;
    >li {
      display: inline-block;
      margin: 8px 40px 12px;
      >a {
        padding-bottom: 4px;
        color: #FFF;
        border-bottom: 1px solid transparent;
        &:hover {
          color: #FFFFFF;
          font-size: 16px;
        }
        &.active {
          //color: $blue;
          border-color: #FFFFFF;

        }
      }
    }
  }
}

.page-explorer {
  padding: 0;
  .banner {
    position: relative;
    background-image: url("/images/banner-bgi.png"), linear-gradient(30deg, #3aa5f3, #013a63);
    background-color: #3aa5f3;
    background-repeat: repeat;
    background-position: center top;
    color: #fff;
    .particles-js {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
    }
    .title {
      margin: 80px 0;
      text-align: center;
      font-size: 36px;
    }
  }
  .search-holder {
    max-width: 570px;
    padding: 25px 15px;
    margin: 40px auto 0;
    background-color: #f5f7f9;
    .col-md-3 {
      margin-left: -15px;
    }
    #searchBtn {
      width: 100%;
      min-width: 65px;
    }
  }
  .assets {
    max-width: 570px;
    margin: 40px auto;
    .title {
      padding: 0 15px;
      color: #5f5f5f;
    }
    .list {
      margin-top: 14px;
      .list-item {
        height: 34px;
        padding: 0 15px;
        margin-bottom: 6px;
        line-height: 34px;
        color: #5f5f5f;
        &:nth-child(odd) {
          background-color: #f5f5f5;
        }
        .btn {
          padding: 4px 22px;
          margin: -2px 4px 0 0;
          font-size: 12px;
        }
      }
    }
  }
  .tool{
    text-align: center;
    padding: 20px 0 10px 0;
    user-select: none;
  }
}
@media (max-width: 992px) {
  .explorer-nav-holder{
    .header{
      left: 4%;
    }
    .nav-list{
      >li{
        margin: 8px 20px 12px;
      }

    }
  }
}
@media (max-width: 767px) {
  .explorer-nav-holder {
    margin-top: 2%;
    .container{
      //width: 100%;
      padding: 0;
      .header{
        top: 15%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: auto;
        .header-logo{
          width: 75%;
        }
      }
      .nav-list {
        margin-left: 0;
        margin-top: 30px;
        >li {
          margin: 8px 3% 12px;
          font-size: 12px;
        }
      }
    }
  }
  .page-explorer {
    .assets {
      .list {
        .list-item {
          height: auto;
          padding: 15px;
        }
      }
    }
  }
}
