.page-explorer-intro {
  padding: 50px 0;
}

.main-title {
  font-size: 22px;
  color: $color-blue;
}

.base-info {
  .title {
    font-size: 18px;
    font-weight: 700;
  }
  .subtitle {
    margin-top: 15px;
    font-size: 16px;
  }
  .text {
    margin-top: 15px;
  }
  .content {
    padding: 0 0 0 20px;
    margin-top: 15px;
    list-style: disc;
    color: #777;
    li {
      margin-bottom: 10px;
      .table-responsive {
        max-width: 700px;
        margin-top: 10px;
      }
      .table {
        td {
          min-width: 136px;
          text-align: center;
        }
      }
      p {
        padding: 0;
        margin: 0;
      }
    }
  }
}
