.page-explorer-tx {
  .info {
    margin-top: 50px;
    .detail {
      width: 100%;
      padding: 10px 0 10px 20px;
      margin-top: 20px;
      border-left: 3px solid #deb36c;
      background-color: #fafafa;
      >div {
        margin: 10px 0;
        >span {
          font-size: 13px;
          color: #999;
        }
      }
    }
  }
  .address-list {
    margin: 50px 0 70px;
    .address-arrow {
      font-size: 28px;
      color: #5aba23;
      text-align: center;
    }
    .list-item {
      margin-bottom: 10px;
      .address {
        float: left;
        max-width: 280px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .amount {
        float: right;
      }
      .amount-from {
        color: #666;
      }
      .amount-to {
        color: #5aba23;
      }
    }
  }
}
