.page-explorer-user {
  .user-info {
    width: 100%;
    padding: 10px 0 10px 20px;
    margin-top: 50px;
    border-left: 3px solid #deb36c;
    background-color: #fafafa;
    >div {
      >div {
        margin: 10px 0;
        >span {
          color: #666;
        }
      }
    }
  }
  .wallet-list {
    margin-top: 50px;
  }
  .dividend-list {
    margin-top: 50px;
  }
  .transactions-list {
    margin-top: 50px;
    .count {
      font-size: 12px;
      color: #666;
    }
    .pagination-holder {
      text-align: right;
    }
  }
}
