.page-article {
  .article {
    margin: 50px 0;
    .title {
      margin-top: 30px;
      font-size: 22px;
    }
    .date {
      margin-top: 4px;
      color: #929ba0;
    }
    .summary {
      padding: 15px;
      margin-top: 20px;
      line-height: 22px;
      border: 1px solid #eee;
      border-radius: 5px;
      font-size: 13px;
      color: #777;
    }
    .content {
      margin-top: 20px;
      img {
        max-width: 100%;
      }
    }
  }
  .notice {
    margin: 70px 0;
    text-align: center;
    color: #777;
  }
}