$yellow: #edcc92;
.page-home {
  height: 100%;
  color: $yellow;
  a {
    color: $yellow;
  }
  .section {
    position: relative;
    width: 100%;
    .bottom-block {
      //height: 330px;
      padding: 5%;
      .col-md-3 {
        padding: 0;
        &:last-child {
          .textContainer {
            border-right:none;
          }
        }
      }


      .box{

        .boxIcon{
          width:100px;
          margin:0 auto;
          >img{
            width:100%;
          }

        }

        .textContainer{
          border-right: 1px solid #EEEEEE;
          padding: 0 10%;
          min-height: 100px;
          .title {

            font-size: 20px;
            text-align: center;
            margin-top: 10%;
            margin-bottom: 2%;
            color: #73889E;
          }
          .text{
            color:#999999;
          }
        }

      }


      .copyright {
        padding-top: 0;
        margin-top: 5px;
        border: 0;
      }
    }
  }
  .home-ico {
    background-position: top center;
    //min-height: 600px;
    //background-image: url("/images/home01.png");
    .contentImg{
      width:100%;

    }

    .top-block {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 65px;
      overflow: hidden;
      background-color: #000;
      border-bottom: 1px solid rgba(237, 204, 146, .65);
      text-align: center;
      .header-logo {
        position: absolute;
        top: -12px;
        left: 50%;
        width: 32px;
        margin-left: -16px;
        opacity: 0;
      }
      .header-logo-ready {
        top: 12px;
        opacity: 1;
        transition: 1.5s top, 1.5s opacity;
      }
    }
    .nav-holder {
      position: absolute;
      top: 65px;
      left: 0;
      width: 100%;
      height: auto;
      background-color: #000;
      border-bottom: 1px solid $yellow;
      text-align: center;
      .nav-list {
        >li {
          display: inline-block;
          margin: 8px 40px 12px;
          >a {
            padding-bottom: 4px;
            color: #fff;
            border-bottom: 1px solid transparent;
            &:hover {
              color: $yellow;
              border-color: $yellow;
            }
            &.active {
              color: $yellow;
              border-color: $yellow;
            }
          }
        }
      }
    }
    .content {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      color: #FFF;
      transform: translateY(-50%);
      //height: 260px;
      //margin: -130px 0 0 -230px;
      text-align: center;
      text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
      .title {

        .titleText{
          font-size:40px;
          font-weight:bold;
        }
        .titleSubText{
          font-size:40px;
        }
        .home03Title{
          font-size: 40px;
        }
      }
      .home02Title{
        margin-bottom:1%;
      }
      .home02Content{
        display: flex;
        justify-content: space-between;
        .home02Left{
          flex:3;
          padding: 5% 0;
          >p{
            margin:0 auto;
            max-width:500px;
            font-size: 20px;
            line-height: 40px;
          }
        }
        .home02Right{
          display: flex;
          flex:2.5;
          flex-direction: row;
          justify-content: space-between;
          .home02RightFig{
            display: inline-block;
            >img{

            }
            .home02RightText{

            }
          }
        }
      }

      .home03Content{
        margin-top: 50px;
      }
      .sub-title {
        margin-top: 50px;
        font-size: 18px;
        margin-bottom: 38px;
      }
      .btn-beta {
        width: 200px;
        height: 40px;
        padding: 8px 0;
        border-radius: 100px;
        margin-top: 50px;
        background-color: #F29F55;
        border: 1px solid #b18d4f;
        color: #fff;
        font-size: 16px;
        text-shadow: 0 2px 4px rgba(0, 0, 0, .35);
      }
      .btn-blue{
        background-color: #0089EC;
        border: none;
      }
    }
    .bottom-block {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100px;
      background-color: rgba(0, 0, 0, .5);

      .box {
        margin: 0 auto;
        .title {
          font-size: 20px;
          color:#73889E;
        }
        .text {
          margin-top: 6px;
          font-size: 13px;
        }
      }
    }
  }


}

@media (max-width: 1180px) {
  .page-home {
    .home-ico {
      //background-color: red;
      min-height: 0;
      .content{
        .title{
          margin-bottom: 10px;
          .titleText{
            font-size: 30px;
          }
          .home03Title{
            font-size: 30px;
          }
        }
        .sub-title{
          display: none;
        }
        >p{
          display: none;
        }
        .btn-beta{
          display: none;
        }
        .home02Title{
          .titleSubText{
            font-size: 30px;
          }
        }
        .home02Content{
          .home02Left{
            padding: 0;
            >p{
              font-size: 14px;
              line-height: 22px;
            }
          }
          .home02Right{
            display: none;
          }
        }
        .home03Content{
          font-size: 14px;
          margin-top: 0px;
        }
      }

    }
    .section{
      .bottom-block {
        .box {

          .textContainer{
            border: none;
            .title {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .page-home {
    .home-ico {
      min-height: 0;
      .homeImg
      {
        height: 200px;
      }
      .home01Content{
        top: 65%;
      }
      .content{
        .title{
          margin-bottom: 10px;
          .titleText{
            font-size: 20px;
          }
          .home03Title{
            font-size: 20px;
          }
        }
        .sub-title{
          display: none;
        }
        >p{
          display: none;
        }
        .btn-beta{
          display: none;
        }
        .home02Title{
          .titleSubText{
            font-size: 20px;
          }
        }
        .home02Content{
          .home02Left{
            padding: 0;
            >p{
              font-size: 12px;
              line-height: 18px;
            }
          }
          .home02Right{
            display: none;
          }
        }
        .home03Content{
          font-size: 12px;
          margin-top: 0px;
        }
      }


    }
    .section{
      .bottom-block{

        .textContainer{
          border-right: none !important;
        }
      }
    }
    .home-beta {
      .content {
        width: 100%;
        margin: -130px 0 0 -50%;
        .title {
          font-size: 18px;
        }
        .sub-title {
          margin-top: 30px;
          font-size: 14px;
        }
      }
    }


  }
}

@media (max-width: 319px) {
  .page-home {
    .home-ico {
      .bottom-block {
        display: none;
      }
    }
  }
}
