.page-knowledge {
  .articles {
    margin-top: 70px;
    >li {
      position: relative;
      padding: 0 0 36px 180px;
      margin-bottom: 36px;
      border-bottom: 1px solid #e6e6e6;
      >a:hover {
        .article {
          .article-title {
            color: $color-blue;
          }
        }
      }
      .wx-cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 160px;
        height: 110px;
        line-height: 110px;
        overflow: hidden;
        box-shadow: 0 0 5px rgba(0, 0, 0, .15);
        >img {
          width: 100%;
        }
      }
      .article {
        color: #000;
        min-height: 118px;
        .article-title {
          font-size: 18px;
        }
        .date {
          margin-top: 5px;
          font-size: 14px;
        }
        .summary {
          height: 38px;
          margin-top: 20px;
          overflow: hidden;
          font-size: 14px;
        }
      }
    }
  }
  .pagination-holder {
    text-align: right;
  }
  .pagination {
    margin: 10px 0;
  }
  .article-list {
    margin: 100px 0 0;
    .article {
      padding: 60px 0;
      &:nth-child(odd) {
        background-color: #fafafa;
      }
      .title {
        font-size: 24px;
        padding-top: 10px;
        margin-top: 5px;
        text-align: center;
      }
      .content {
        padding-bottom: 40px;
        margin-top: 36px;
        font-size: 16px;
      }
    }
  }
}
