.page-knowledge {
  .articles {
    margin-top: 70px;
    >li {
      position: relative;
      padding-left: 160px;
      margin-bottom: 50px;
      >a:hover {
        .article {
          .article-title {
            color: $color-blue;
          }
        }
      }
      .wx-cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 140px;
        height: 80px;
        line-height: 80px;
        overflow: hidden;
        box-shadow: 0 0 5px rgba(0, 0, 0, .15);
        >img {
          width: 100%;
        }
      }
      .article {
        .article-title {
          color: #000;
          font-size: 16px;
        }
        .date {
          margin-top: 2px;
          color: #929ba0;
          font-size: 12px;
        }
        .summary {
          height: 36px;
          margin-top: 4px;
          overflow: hidden;
          color: #333;
          font-size: 14px;
        }
      }
    }
  }
  .pagination-holder {
    text-align: right;
  }
  .pagination {
    margin: 10px 0;
  }
  .article-list {
    margin: 70px 0;
    >li {
      .article {
        margin-bottom: 40px;
        .title {
          font-size: 18px;
          padding-top: 10px;
          margin-top: 5px;
        }
        .content {
          padding-bottom: 40px;
          margin-top: 12px;
          font-size: 14px;
          color: #333;
          border-bottom: 1px solid #66bfff;
        }
      }
    }
  }
}
