.page-service {
  .card {
    &:nth-child(even) {
      background-color: #fafafa;
    }
    .title {
      padding-top: 80px;
      font-size: 24px;
      text-align: center;
    }
    .content {
      padding-bottom: 80px;
      margin-top: 70px;
      font-size: 16px;
      color: #666;
      >p {
        margin: 15px 0 0;
        line-height: 28px;
      }
    }
  }
}