.banner-team {
  width: 100%;
  height: 210px;
  background-image: url("/images/banner-team.jpg");
  background-position: center top;
  background-size: cover;
}
.page-team {
  .card {
    padding: 90px 0;
    &:nth-child(even) {
      background-color: #fafafa;
    }
    .avatar {
      text-align: center;
      >img {
        width: 140px;
        max-width: 100%;
        border-radius: 110px;
      }
    }
    .name {
      margin-top: 20px;
      font-size: 28px;
      text-align: center;
    }
    .office {
      margin-bottom: 30px;
      font-size: 16px;
      text-align: center;
    }
    .info {
      padding: 20px 0 0 20px;
      >li {
        margin: 0 0 24px;
        line-height: 24px;
      }
    }
  }
}