.banner-values {
  width: 100%;
  height: 300px;
  background-image: url("/images/banner-values.jpg");
  background-position: center top;
  background-size: cover;
}
.page-values {
  .card {
    &:nth-child(even) {
      background-color: #fafafa;
    }
    .title {
      padding-top: 80px;
      font-size: 24px;
      text-align: center;
    }
    .content {
      padding-bottom: 80px;
      margin-top: 70px;
      font-size: 16px;
      color: #666;
      >p {
        margin: 15px 0 0;
        line-height: 28px;
      }
      .note-sign {
        color: $color-blue;
      }
      .note {
        font-size: 14px;
        color: #666;
      }
    }
  }
}
