<div class="page-explorer-announce">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="/explorer/asset/{{assetId}}">{{__ 'explorer-asset-home-page'}}</a></li>
      <li class="active">发行资料</li>
    </ol>
    <div class="info">
      <div class="detail">
        <div>
          <span>地址：</span>
          1hj1hj23h1h3jk1hjk3h1jkh31j
        </div>
        <div>
          <span>资产名：</span>
          测试
        </div>
        <div>
          <span>资产ID：</span>
          0
        </div>
        <div>
          <span>发行量：</span>
          1,000,000
        </div>
        <div>
          <span>发行时间：</span>
          2017-01-02 11:11:11
        </div>
      </div>
    </div>
    <h4 class="group-title">文件存证</h4>
    <div class="panel panel-default company">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <span class="name">xxxx基金公司</span>
          </div>
          <div class="col-md-6 col-sm-6 head-right">
            <span class="address">地址：</span>
            <a href="/explorer/company/test1">1djskfjojsoiwejfijfeijfioejfjw</a>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="tx-info">
          <p>交易ID：<a href="/explorer/asset/1/tx/9d410d4d3801a426c4c57fe01307b7275bef7c24dc4953fdcc239a6321fe9e5f">9d410d4d3801a426c4c57fe01307b7275bef7c24dc4953fdcc239a6321fe9e5f</a></p>
          <p>交易时间：2017-03-10 15:57:45</p>
          <p>确认次数：1</p>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>文件名称</th>
                <th>文件Hash</th>
                <th>文件大小</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>可行性分析报告</td>
                <td>dfadhfkshdfhskhfkshdkfkhsfhsk <span class="icon-green glyphicon glyphicon-ok"></span></td>
                <td>1.2MB</td>
                <td class="options"><a href=""><i class="glyphicon glyphicon-cloud-download"></i>下载</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tx-info">
          <p>交易ID：<a href="/explorer/asset/1/tx/9d410d4d3801a426c4c57fe01307b7275bef7c24dc4953fdcc239a6321fe9e5f">9d410d4d3801a426c4c57fe01307b7275bef7c24dc4953fdcc239a6321fe9e5f</a></p>
          <p>交易时间：2017-03-10 15:57:45</p>
          <p>确认次数：1</p>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>文件名称</th>
                <th>文件Hash</th>
                <th>文件大小</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>现场照片</td>
                <td>dfadhfkshdfhskhfkshdkfkhsfhsk <span class="icon-green glyphicon glyphicon-ok"></span></td>
                <td>101KB</td>
                <td class="options">
                  <a href=""><i class="glyphicon glyphicon-cloud-download"></i>下载</a>
                  <a href=""><i class="glyphicon glyphicon-eye-open"></i>预览</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="panel panel-default company">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <span class="name">xxxx会计师事务所</span>
          </div>
          <div class="col-sm-6 col-md-6 head-right">
            <span class="address">地址：</span>
            <a href="/explorer/company/test2">1djskfjojsoiwejfijfeijfioejfjw</a>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="tx-info">
          <p>交易ID：<a href="/explorer/asset/1/tx/9d410d4d3801a426c4c57fe01307b7275bef7c24dc4953fdcc239a6321fe9e5f">9d410d4d3801a426c4c57fe01307b7275bef7c24dc4953fdcc239a6321fe9e5f</a></p>
          <p>交易时间：2017-03-10 15:57:45</p>
          <p>确认次数：1</p>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>文件名称</th>
                <th>文件Hash</th>
                <th>文件大小</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>审核报告</td>
                <td>dfadhfkshdfhskhfkshdkfkhsfhsk <span class="icon-green glyphicon glyphicon-ok"></span></td>
                <td>1.2MB</td>
                <td class="options"><a href=""><i class="glyphicon glyphicon-cloud-download"></i>下载</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="panel panel-default company">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <span class="name">xxxx法律事务所</span>
          </div>
          <div class="col-md-6 col-sm-6 head-right">
            <span class="address">地址：</span>
            <a href="/explorer/company/test3">1djskfjojsoiwejfijfeijfioejfjw</a>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="tx-info">
          <p>交易ID：<a href="/explorer/asset/1/tx/9d410d4d3801a426c4c57fe01307b7275bef7c24dc4953fdcc239a6321fe9e5f">9d410d4d3801a426c4c57fe01307b7275bef7c24dc4953fdcc239a6321fe9e5f</a></p>
          <p>交易时间：2017-03-10 15:57:45</p>
          <p>确认次数：1</p>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>文件名称</th>
                <th>文件Hash</th>
                <th>文件大小</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>审核报告</td>
                <td>dfadhfkshdfhskhfkshdkfkhsfhsk <span class="icon-green glyphicon glyphicon-ok"></span></td>
                <td>1.2MB</td>
                <td class="options"><a href=""><i class="glyphicon glyphicon-cloud-download"></i>下载</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <h4 class="group-title">分红存证</h4>
    <div class="company">
      <div class="head">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <span class="name"></span>
          </div>
        </div>
      </div>
      <div class="body">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>文件名称</th>
                <th>文件Hash</th>
                <th>文件大小</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="4" class="text-center">暂无</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{{> footer}}
{{> scripts}}
