<div class="page-explorer-company">
  <div class="container">
    <div class="info">
      <h4>企业详情</h4>
      <div class="detail">
        <div>
          <span>机构名称：</span>
          xxxx基金管理公司
        </div>
        <div>
          <span>地址：</span>
          sjdkjfsdjflsjdlfjasjfljasj
        </div>
        <div>
          <span>官网背书：</span>
          http://www.xxxx.com/reitschain
        </div>
        <div>
          <span>注册时间：</span>
          2016-12-02 11:11:11
        </div>
      </div>
    </div>
    <div class="intro">
      <h4>管理团队</h4>
      <div class="title">王大锤   职位：CEO  |  性别: 男  |  学历: 硕士</div>
      <div class="content">
        <p>新西兰梅西大学金融学学士(Ho0ours)、金融学硕士(Disti0ctio0)。</p>
        <p>历任新西兰ANYING国际金融有限公司货币策略师、总经理助理(2003年7月至2006年4月)，新西兰FORSIGHT金融研究有限公司策略分析师(2007年1月至2008年5月)，长城证券有限责任公司研究所策略研究员(2008年5月至2010年8月)、主要从事A股投资策略、欧美经济、汇率、和国际大宗商品市场的研究。</p>
        <p>2015年5月14日起任兴业聚利灵活配置混合型证券投资基金基金经理。</p>
        <p>2015年7月8日起任兴业聚惠灵活配置混合型证券投资基金基金经理。</p>
        <p>2016年4月起任兴业聚鑫灵活配置混合型证券投资基金基金经理。</p>
        <p>2016年11月起任兴业裕恒债券型证券投资基金基金经理。</p>
      </div>
    </div>
    <div class="cases">
      <h4>案例</h4>
      <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>资产名称</th>
                <th>发行资料</th>
                <th>状态</th>
                <th>发行量</th>
                <th>发行时间</th> 
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>aaaa</td>
                <td><a href="/explorer/asset/0/tx/test">dfadhfkshdfhskhfkshdkfkhsfhsk</a></td>
                <td>运作中</td>
                <td>1,000,000</td>
                <td>2017-01-02 11:11:11</td>
              </tr>
              <tr>
                <td>bbbbb</td>
                <td><a href="/explorer/asset/0/tx/test">dfadhfkshdfhskhfkshdkfkhsfhsk</a></td>
                <td>运作中</td>
                <td>1,000,000</td>
                <td>2017-01-02 11:11:11</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>  
</div>
{{> footer}}
{{> scripts}}
