<div class="page-explorer-issue">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="/explorer/asset/{{assetId}}">{{__ 'explorer-asset-home-page'}}</a></li>
      <li class="active">发行资料</li>
    </ol>
    <div class="info">
      <h4>发行交易详情</h4>
      <div class="detail">
        <div>
          <span>{{__ 'explorer-tx-transaction-hash'}}</span>
          123456
        </div>
        <div>
          <span>资产名：</span>
          测试
        </div>
        <div>
          <span>资产ID：</span>
          {{assetId}}
        </div>
        <div>
          <span>发行量：</span>
          1,000,000
        </div>
        <div>
          <span>发行时间：</span>
          2017-01-02 11:11:11
        </div>
      </div>
    </div>
    <div class="company">
      <div class="head">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <span class="name">xxxx基金公司</span>
          </div>
          <div class="col-md-6 col-sm-6 head-right">
            <span class="address">地址：</span>
            <a href="/explorer/company/test1">1djskfjojsoiwejfijfeijfioejfjw</a>
          </div>
        </div>
      </div>
      <div class="body">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>文件名称</th>
                <th>文件Hash</th>
                <th>文件大小</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>可行性分析报告</td>
                <td>dfadhfkshdfhskhfkshdkfkhsfhsk <span class="icon-green glyphicon glyphicon-ok"></span></td>
                <td>1.2MB</td>
                <td><a href="">下载</a></td>
              </tr>
              <tr>
                <td>现场照片</td>
                <td>dfadhfkshdfhskhfkshdkfkhsfhsk <span class="icon-green glyphicon glyphicon-ok"></span></td>
                <td>101KB</td>
                <td>
                  <a href="">下载</a>
                  <a href="">预览</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="company">
      <div class="head">
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <span class="name">xxxx会计师事务所</span>
          </div>
          <div class="col-sm-6 col-md-6 head-right">
            <span class="address">地址：</span>
            <a href="/explorer/company/test2">1djskfjojsoiwejfijfeijfioejfjw</a>
          </div>
        </div>
      </div>
      <div class="body">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>文件名称</th>
                <th>文件Hash</th>
                <th>文件大小</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>审核报告</td>
                <td>dfadhfkshdfhskhfkshdkfkhsfhsk <span class="icon-green glyphicon glyphicon-ok"></span></td>
                <td>1.2MB</td>
                <td><a href="">下载</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="company">
      <div class="head">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <span class="name">xxxx法律事务所</span>
          </div>
          <div class="col-md-6 col-sm-6 head-right">
            <span class="address">地址：</span>
            <a href="/explorer/company/test3">1djskfjojsoiwejfijfeijfioejfjw</a>
          </div>
        </div>
      </div>
      <div class="body">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>文件名称</th>
                <th>文件Hash</th>
                <th>文件大小</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>审核报告</td>
                <td>dfadhfkshdfhskhfkshdkfkhsfhsk <span class="icon-green glyphicon glyphicon-ok"></span></td>
                <td>1.2MB</td>
                <td><a href="">下载</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{{> footer}}
{{> scripts}}
