{{> banner-other}}
<div class="page-values">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="card">
          <div class="title"><span class="underline">我们的核心价值</span></div>
          <div class="content">
            <p>瑞资科技致力于ABC(Asset-Backed-Chain)的搭建,运用区块链技术为资产证券化和房地产投融资服务提供一站式的解决方案；利用区块链公开透明和数字资产高流动性和跨境流动的特点,创建一个面向全球的数字资产交易平台。</p>
            <p>瑞资科技搭建和运营的ABC数字资产交易平台将万亿美元规模的REITs资产和全球可交易的数字货币进行巧妙的结合，为实力强大的机构投资者和众多个人投资者提供一站式的全球资产配置和交易平台。</p>
          </div>
        </div>
        <div class="card">
          <div class="title"><span class="underline">REITs市场规模</span></div>
          <div class="content">
            <p>中国REITs的潜在市场规模在未来3-5年将达到数千亿元。</p>
            <p>经过50多年的发展， 美国REITs市场从1960年2亿美元的规模，到2015年1月末，上市REITs的总市值达到了9594亿美元。2016年，全球上市的REITs市值达15000亿美元。</p>
            <p>按照美国1960年REITs约2亿美元的上市总市值计算，当时美国REITs上市总市值占美国储蓄总额的0.16％。而我国2013年底的储蓄总额已达44.76万亿元，如果按照1960年美国REITs发展初期的规模占比看，未来我国发展REITs初期的规模将达704.88亿元（远大于目前我国基金化房地产信托规模128.52亿元）。该规模对房地产资金来源替代率为0.47％。</p>
            <p>假设按照美国上市REITs发展历程（2010年美国上市REITs达3890亿美元，占美国储蓄总额的17.25％），再假设中国储蓄水平不变且未来达到与美国相同规模，可预计我国未来上市REITs规模将达7.72万亿元，当年增加1.99万亿，对房地产资金来源替代率将升至16.34％（上文测算看，我国REITs发展初期的规模是704.88亿元，对房地产资金来源的替代率为0.47％）。</p>
          </div>
        </div>
        <div class="card">
          <div class="title"><span class="underline">区块链爆点</span></div>
          <div class="content">
            <p>利用区块链不可篡改，不可抵赖和不可否认的特性，用数学语言，将核心商业地产项目经营情况发布在区块链上，解决去中心化的信任问题，降低信用成本。</p>
            <p>利用区块链数字资产的高流动性，同一资产，能以秒级，在全球任何数字货币交易市场上市，解决跨境交易和投资流动性，提高投资热情</p>
          </div>
        </div>
        <div class="card">
          <div class="title"><span class="underline">智能解决方案</span></div>
          <div class="content">
            <p>结合智能合约将数字证券自动发行和金融衍生品交易变为可能。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{> footer}}
{{> scripts}}