<div class="explorer-nav-holder">
  <div class="container">
    <ul class="nav-list">
      <li>
        <a href="/">首页</a>
      </li>
      <li>
        <a href="http://blog.reitschain.com">博客</a>
      </li>
      <li>
        <a href="https://reitschain.com/ico">ICO</a>
      </li>
      <li>
        <a href="https://github.com/REITs-Chain/white-paper" target="_blank">白皮书</a>
      </li>
      <li>
        <a href="/downloads">下载钱包</a>
      </li>
      <li>
        <a class="active" href="/explorer">区块链浏览器</a>
      </li>
    </ul>
  </div>
</div>
