<div class="explorer-nav-holder">

  <div class="container">
    <div class="header">
      <span class="">
        <a href='/' class="header-logo">
          <img src="/images/logo-simple.png">
        </a>
      </span>
    </div>
    <ul class="nav-list">
      <li>
        <a href="/" class="home active">首页</a>
      </li>
      <li>
        <a href="http://blog.reitschain.com" class="blog">博客</a>
      </li>
      <li>
        <a href="https://github.com/REITs-Chain/white-paper" target="_blank" class="book">白皮书</a>
      </li>
      <li>
        <a href="/downloads" class="download">下载钱包</a>
      </li>
      <li>
        <a  href="/explorer" class="explorer">区块链浏览器</a>
      </li>
    </ul>
  </div>
</div>
