<div class="header">
  <div class="navbar">
    <div class="header-bottom">
      <div class="container">
        <div class="navbar-header">
          <a href='/' class="navbar-brand">
            <img src="/images/logo.png">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
