<link rel="stylesheet" href="/libs/lightbox/css/lightbox.min.css">

<div class="page-explorer-intro intro-0">
  <div class="container">
    <div class="main-title">瑞资通（示意）</div>
    <div class="base-info">
      <div class="title">瑞资链－颠覆性的五大改造</div>
      <ul class="content">
        <li>实名制 － 区块链进入传统金融领域的钥匙</li>
        <li>权限管理 － 受控的专家们</li>
        <li>可信公正－实名授信文件直接保存在区块链上</li>
        <li>单链多资产－实名授信的多资产发行</li>
        <li>可变时长出块－突破交易次数瓶颈</li>
      </ul>
    </div>
  </div>
</div>

{{> footer}}
{{> scripts}}
<script src="/libs/lightbox/js/lightbox.min.js"></script>
<script src="/scripts/explorer-intro.js{{fileTail}}"></script>
