<link rel="stylesheet" href="/libs/lightbox/css/lightbox.min.css">

<div class="page-explorer-intro">
  <div class="container">
    <div class="main-title">RTSt</div>
    <div class="base-info">
      <div class="text">
        <p>RTSt 是我们在瑞资链测试期间发行的一种虚拟资产，作为测试奖励筹码。</p>
        <p>在公测结束后，正式的区块链开始运行，所有的RTSt将会按照比例置换成我们的股份：RTS。</p>
      </div>
      <div class="text">目前，我们计划发行RTSt总量为1000万，对应RTS数量为100万，因此RTSt兑换RTS的比例是10:1。内测期间用户通过参与测试所获得的RTSt将会等额带入到公测链中。</div>
      <div class="text">内测期间用户获得RTSt奖励途径有以下几种：</div>
      <ul class="content">
      <li>参与每日交易活动，具体奖励规则见测试资产A和测试资产B的资产介绍</li>
      <li>邀请新用户参与瑞资链内测，可获得200RTSt/人的奖励，内测最多接受300名用户参与</li>
      <li>如果参与24小时交易量测试，奖励 200RTSt/人，实际工作量将参考该节点打包数据，本项奖励与第1项奖励不可同时获得</li>
      </ul>
      <div class="text">感谢大家的参与！</div>
    </div>
  </div>
</div>

{{> footer}}
{{> scripts}}
