<link rel="stylesheet" href="/libs/lightbox/css/lightbox.min.css">

<div class="page-explorer-intro intro-1">
  <div class="container">
    <div class="main-title">国美地产项目(示意)</div>
    <div class="base-info">
      <div class="title">项目基本信息</div>
      <div class="row">
        <div class="col-md-6">
          <a href="/images/explorer-intro/intro-001.jpg" data-lightbox="intro-001">
            <img class="picture" src="/images/explorer-intro/intro-001.jpg">
          </a>
        </div>
        <div class="col-md-6">
          <p>地址:爱荷华州大道3080号,河滨,CA 92507</p>
          <p>建筑时间:2012</p>
          <p>建筑:4(包括会所)</p>
          <p>楼层:4</p>
          <p>电梯:4</p>
          <p>占地面积:7.78英亩</p>
          <p>出租科SF:230961</p>
          <p>公寓单元(床):223(658)</p>
          <p>停车位:505(296可分配)</p>
        </div>
      </div>
    </div>
    <div class="overview">
      <div class="title">综合概述</div>
      <div class="subtitle">一个具有地理优势并且风险可控的优质投资项目</div>
      <ul class="content">
        <li>RedBridge资本与瑞资链资管目前正在寻求从业主/开发商The Dinerstein Companies(“TDC”)手中获得位于加州大学河滨分校(“UCR”)的学生住宅综合体Sterling Highlander的收购机会。TDC是美国最大的学生住房开发公司。购买意向是在11月17日交付6050万美元，基于5.75%的 entry caprate与2016-2017年预期净营业收入计算(358万美元)。</li>
        <li>2012年开发完成的Sterling Highlander拥有223个公寓单元/ 658个床位(共203961平方尺可出 租)与一个拥有505个停车位面积为7.78英亩的停车场。目前九成九以上的学生公寓单元已被出租。该项目是由TDC自工程竣工后自管理的项目。</li>
        <li>我们的投资策略是获得这种位于UCR校园附近并且步行可达的学生住房资产。UCR的学生住房市场自2014的94.3%租赁率到今年的96.5%租赁率，有着显著的增长。在未来的5年内，将没有新 的学生住房开发项目。UCR的招生人数(目前22921名学生自2006年以来增长了超过6046名学 生(2006年16875名学生，增长35.8%)。</li>
        <li>UCR校园可通过其3个宿舍(仅供大一新生)与6个校区公寓容纳6607名学生。据估计，大约有18000名学生生活在校园附近，其中约12616租用私营床位。一半的学校住宿为传统的宿舍楼， 生活单元内不包含私人浴室/卧室(价格约为70平方英尺1754元/床/月)。居住用房成本高，使 校外学生住房对高年级生、交换生与研究生更具吸引力。即使学校提供了3607张校园公寓床位，但大多比私营公寓价格更贵。</li>
        <li>目前还没有明确建立校外学生住房项目的开发意向。总的来说，校外学生住房只有3331张床位，根据2016年10月的Axiometrics市场调查，其目前的租售率为97.8%。其中4个学生宿舍楼被 100%租售，棕榈公寓由于其管理问题，拥有81%的租售率。</li>
      </ul>
      <div class="subtitle">一个具有优势地理位置风险可控的美国名牌大学学生公寓投资项目</div>
      <ul class="content">
        <li>
          <p>交易时间:</p>
          <p>第一次申办日期:10月27日提交5800万美元初步报价</p>
          <p>最佳及最后一轮:11月3日提交6050万美元报价 - 卖方与买方面谈:11月9日</p>
          <p>确定购买意向:11月17日</p>
          <p>签署购买投资协议:预期在2016年12月9日</p>
          <p>尽职调查期限:2017年1月18日(40天)</p>
          <p>目标截止日期:2017年3月6日(45天)</p>
          <p>最终截止日期:2017年4月5日(30天延长)</p>
        </li>
        </li>
        <li>完成交易所需的股本金投入为2384万美元</li>
        <li>RedBridge资本与瑞资链资管设计了10%/90% GP/LP的股权结构，寻求合格投资者投资2146万美元(90%)，RedBridge与瑞资链资管将共同出资238万美元(10%)</li>
        <li>
          <p>商业计划:满4年后投资退出</p>
          <p>10年房利美贷款3930万美元(65%按揭比率)，30年浮动利率摊销3.2%</p>
          <p>前期资本支出725600美元:最小资本支出计划，更衣室、过道通风、体育馆、电梯、互联网与有线电视、安全控制系统升级，额外的车库门安装和家具升级(460600美元)总额为725600美元。</p>
          <p>重点放在学生满意度与租赁续约，并计划增加15月周期的租约(吸引交换生与在职生)</p>
          <p>增加净营业收入，维持其95%的出租率，2022年的预期净营业收入为422万美元</p>
          <p>以5.75%的cap rate退出，预计价值为7180万美元</p>
          <p>假设项目4年退出，其内部收益率达到18.6%，并且拥有1.73倍的股本回报(扣除1%购买价格的收购费用，0.5%贷款额度的融资费，1.5%年度投资管理费与1%的处置费)</p>
        </li>
      </ul>
    </div>
    <div class="pictrues">
      <div class="title">社区照片</div>
      <div class="list row">
        <div class="col-md-3 picture-box">
          <a href="/images/explorer-intro/intro-002.jpg" data-lightbox="intro-002">
            <img src="/images/explorer-intro/intro-002.jpg">
          </a>
        </div>
        <div class="col-md-3 picture-box">
          <a href="/images/explorer-intro/intro-003.jpg" data-lightbox="intro-003">
            <img src="/images/explorer-intro/intro-003.jpg">
          </a>
        </div>
        <div class="col-md-3 picture-box">
          <a href="/images/explorer-intro/intro-004.jpg" data-lightbox="intro-004">
            <img src="/images/explorer-intro/intro-004.jpg">
          </a>
        </div>
        <div class="col-md-3 picture-box">
          <a href="/images/explorer-intro/intro-005.jpg" data-lightbox="intro-005">
            <img src="/images/explorer-intro/intro-005.jpg">
          </a>
        </div>
      </div>
      <div class="title">公共区域照片</div>
      <div class="list row">
        <div class="col-md-3 picture-box">
          <a href="/images/explorer-intro/intro-006.png" data-lightbox="intro-006">
            <img src="/images/explorer-intro/intro-006.png">
          </a>
        </div>
        <div class="col-md-3 picture-box">
          <a href="/images/explorer-intro/intro-007.png" data-lightbox="intro-007">
            <img src="/images/explorer-intro/intro-007.png">
          </a>
        </div>
        <div class="col-md-3 picture-box">
          <a href="/images/explorer-intro/intro-008.png" data-lightbox="intro-008">
            <img src="/images/explorer-intro/intro-008.png">
          </a>
        </div>
        <div class="col-md-3 picture-box">
          <a href="/images/explorer-intro/intro-009.png" data-lightbox="intro-009">
            <img src="/images/explorer-intro/intro-009.png">
          </a>
        </div>
      </div>
      <div class="title">单元内照片</div>
      <div class="list row">
        <div class="col-md-3 picture-box">
          <a href="/images/explorer-intro/intro-010.jpg" data-lightbox="intro-010">
            <img src="/images/explorer-intro/intro-010.jpg">
          </a>
        </div>
        <div class="col-md-3 picture-box">
          <a href="/images/explorer-intro/intro-011.jpg" data-lightbox="intro-011">
            <img src="/images/explorer-intro/intro-011.jpg">
          </a>
        </div>
        <div class="col-md-3 picture-box">
          <a href="/images/explorer-intro/intro-012.jpg" data-lightbox="intro-012">
            <img src="/images/explorer-intro/intro-012.jpg">
          </a>
        </div>
      </div>
    </div>
    <div class="finance">
      <div class="title">财务要点</div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <td>总股本</td>
              <td>23,841,278</td>
            </tr>
            <tr>
              <td>项目总成本</td>
              <td>$63,141,278</td>
            </tr>
            <tr>
              <td>贷款金额</td>
              <td>$39,300,000</td>
            </tr>
            <tr>
              <td>利率</td>
              <td>3.20%</td>
            </tr>
            <tr>
              <td>% 贷款价值</td>
              <td>65.0%</td>
            </tr>
            <tr>
              <td>竞拍价格</td>
              <td>$60,500,000</td>
            </tr>
            <tr>
              <td>价格/单元</td>
              <td>$280,093</td>
            </tr>
            <tr>
              <td>价格/卧室</td>
              <td>$101,171</td>
            </tr>
            <tr>
              <td>价格/床位</td>
              <td>$91,945</td>
            </tr>
            <tr>
              <td>价格/平方尺</td>
              <td>$261.89</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th colspan="2" class="text-center">项目层面回报率</th>
              <th colspan="2" class="text-center">投资者层面回报率(90%)</th>
            </tr>
            <tr>
              <th>持有时间</th>
              <th>退出收益</th>
              <th>IRRs</th>
              <th>股本倍数</th>
              <th>IRRs</th>
              <th>EM</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>3</td>
              <td>5.25%</td>
              <td>26.7%</td>
              <td>1.79</td>
              <td>22.1%</td>
              <td>1.65</td>
            </tr>
            <tr>
              <td>4</td>
              <td>5.75%</td>
              <td>18.6%</td>
              <td>1.73</td>
              <td>14.9%</td>
              <td>1.58</td>
            </tr>
            <tr>
              <td>5</td>
              <td>6.25%</td>
              <td>14.7%</td>
              <td>1.70</td>
              <td>12.0%</td>
              <td>1.56</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="factor">
      <div class="title">产品要素表</div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>项目</th>
              <th>条款</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>投资主体</td>
              <td>根据法律和税务要求而设立的有限合伙企业</td>
            </tr>
            <tr>
              <td>投资标的</td>
              <td>UC Riverside - Sterling Highlander 学生公寓</td>
            </tr>
            <tr>
              <td>资产管理人</td>
              <td>Red bridge capital/瑞资链资产管理公司</td>
            </tr>
            <tr>
              <td>发起人</td>
              <td>Red bridge capital</td>
            </tr>
            <tr>
              <td>发起人出资</td>
              <td>10%</td>
            </tr>
            <tr>
              <td>投资人</td>
              <td>机构投资者和高净值个人</td>
            </tr>
            <tr>
              <td>美国境内基金管理公司</td>
              <td>Red bridge capital</td>
            </tr>
            <tr>
              <td>最低投资额</td>
              <td>100万人民币</td>
            </tr>
            <tr>
              <td>基金规模</td>
              <td>24,373,100美金</td>
            </tr>
            <tr>
              <td>基金年限</td>
              <td>基金封闭日起3+1年</td>
            </tr>
            <tr>
              <td>投资期</td>
              <td>基金关闭日起15个月内</td>
            </tr>
            <tr>
              <td>杠杆融资</td>
              <td>本资产管理计划的投资组合融资杠杆率不得高于资产管理计划总资产 的70%;会按照贷款期限与投资标的租赁期匹配的原则，进行杠杆融 资，并适情况对非固定利率的融资购买利率上限等措施</td>
            </tr>
            <tr>
              <td>退出机制</td>
              <td>
                <p>1. 将资产打包出售给机构投资者</p>
                <p>2. 若在基金年限的地36个月底，发起人未于机构投资者就资产包收购事宜达成一致、签署意向，发起人需于第37个月起在公开市场上分期分批出售物业，以确保按时退出</p>
                <p>3. 资产证券化,做成类REITs，发行于REITs Fax (瑞资链金交所)</p>
              </td>
            </tr>
            <tr>
              <td>认购费</td>
              <td>1.5%</td>
            </tr>
            <tr>
              <td>年度管理费</td>
              <td>1.5%</td>
            </tr>
            <tr>
              <td>管理人利润分配</td>
              <td>
                <p>当基金到期退出时，现金流分配顺序如下:</p>
                <p>1. 100%投资人资本的兑付(含累计分红)</p>
                <p>2. 弥补基金发起人所支付开办费中未偿付的部分</p>
                <p>3. 剩余基金的分配为:投资者80%;基金管理人20%</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{{> footer}}
{{> scripts}}
<script src="/libs/lightbox/js/lightbox.min.js"></script>
<script src="/scripts/explorer-intro.js{{fileTail}}"></script>
