<link rel="stylesheet" href="/libs/lightbox/css/lightbox.min.css">

<div class="page-explorer-intro">
  <div class="container">
    <div class="main-title">0号资产</div>
    <div class="base-info">
      <div class="text">
        <p>测试期间的0号资产，模拟的就是瑞资链正式上线后的RTS资产。</p>
        <p>拥有0号资产的用户，可以参与POS打包，确保钱包节点程序长期运行，就可以获得更多打包机会。</p>
        <p>我们在测试期内，将会监控所有节点打包的情况，并不定时进行POS奖励。</p>
      </div>
      <div class="text">节点打包规则如下：</div>
      <ul class="content">
        <li>两个同样长期运转的节点，0号资产的多少，决定打包的几率有多大。</li>
        <li>两个拥有同样的0号资产的节点，打包的几率，取决于运行的时长。</li>
        <li>由于我们希望在测试期间获得海量交易量测试，因此，运行守护程序的节点，会高速向外随机发送交易。由于交易数据包非常小，因此占用的总带宽，不会太高。</li>
      </ul>
      <div class="sub-title">感谢大家的参与！</div>
    </div>
  </div>
</div>

{{> footer}}
{{> scripts}}
