<link rel="stylesheet" href="/libs/lightbox/css/lightbox.min.css">

<div class="page-explorer-intro">
  <div class="container">
    <div class="main-title">晟孚量化(测试资产B)</div>
    <div class="base-info">
      <div class="text">内测期间参与交易测试资产A和B可以获得RTSt奖励，规则如下：</div>
      <ul class="content">
        <li>获得测试奖励仅与虚拟资产的交易笔数有关，与虚拟资产数量无关</li>
        <li>
          <div>奖励标准</div>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <td>完成方式</td>
                  <td>笔数</td>
                  <td>奖励数量（RTSt）</td>
                  <td>奖励说明</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td rowspan="4">转出资产</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>10</td>
                  <td rowspan="3">转出资产到不重复的钱包地址，累计笔数达到相应要求即可获得相应数量的RTSt奖励</td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>30</td>
                </tr>
                <tr>
                  <td>20</td>
                  <td>80</td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
        <li>奖励统计时间为每日0点0分到23点59分，奖励RTSt数量将在第2个工作日统计后由管理员向用户钱包地址发放所获的RTSt奖励</li>
        <li>与24小时自动交易测试奖励不可同时获得</li>
        <li>本活动结束时间示具体内测进度而定，瑞资拥有本活动解释权</li>
      </ul>
      <div class="text">感谢大家的参与！</div>
    </div>
  </div>
</div>

{{> footer}}
{{> scripts}}
