<link rel="stylesheet" href="/libs/lightbox/css/lightbox.min.css">

<div class="page-explorer-intro intro-2">
  <div class="container">
    <div class="main-title">UCR(测试资产A)</div>
    <div class="base-info">
      <div class="text">内测期间参与交易测试资产A和B可以获得RTSt奖励，规则如下：</div>
      <ul class="content">
        <li>获得测试奖励仅与虚拟资产的交易笔数有关，与虚拟资产数量无关</li>
        <li>
          <div>奖励标准</div>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <td>完成方式</td>
                  <td>笔数</td>
                  <td>奖励数量（RTSt）</td>
                  <td>奖励说明</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td rowspan="4">转出资产</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>10</td>
                  <td rowspan="3">转出资产到不重复的钱包地址，累计笔数达到相应要求即可获得相应数量的RTSt奖励</td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>30</td>
                </tr>
                <tr>
                  <td>20</td>
                  <td>80</td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
        <li>奖励统计时间为每日0点0分到23点59分，奖励RTSt数量将在第2个工作日统计后由管理员向用户钱包地址发放所获的RTSt奖励</li>
        <li>与24小时自动交易测试奖励不可同时获得</li>
        <li>本活动结束时间示具体内测进度而定，瑞资拥有本活动解释权</li>
      </ul>
      <div class="text">感谢大家的参与！</div>
    </div>
    <div class="base-info">
      <div class="title">综合概述</div>
      <div class="text">一个具有地理优势并且风险可控的优质投资项目</div>
      <ul class="content">
        <li>RedBridge资本与瑞资链资管目前正在寻求从业主/开发商The Dinerstein Companies（“TDC”）手中获得位于加州大学河滨分校（“UCR”）的学生住宅综合体Sterling Highlander的收购机会。TDC是美国最大的学生住房开发公司。购买意向是在11月17日交付6050万美元，基于5.75%的entry cap rate与2016-2017年预期净营业收入计算（358万美元）。</li>
        <li>2012年开发完成的Sterling Highlander拥有223个公寓单元/ 658个床位（共203961平方尺可出租）与一个拥有505个停车位面积为7.78英亩的停车场。目前九成九以上的学生公寓单元已被出租。该项目是由TDC自工程竣工后自管理的项目。</li>
        <li>我们的投资策略是获得这种位于UCR校园附近并且步行可达的学生住房资产。UCR的学生住房市场自2014的94.3%租赁率到今年的96.5%租赁率，有着显著的增长，。在未来的5年内，将没有新的学生住房开发项目。UCR的招生人数（目前22921名学生）自2006年以来增长了超过6046名学生（2006年16875名学生，增长35.8%）。</li>
        <li>UCR校园可通过其3个宿舍（仅供大一新生）与6个校区公寓容纳6607名学生。据估计，大约有18000名学生生活在校园附近，其中约12616租用私营床位。一半的学校住宿为传统的宿舍楼，生活单元内不包含私人浴室/卧室（价格约为70平方英尺1754元/床/月）。居住用房成本高，使校外学生住房对高年级生、交换生与研究生更具吸引力。即使学校提供了3607张校园公寓床位，但大多比私营公寓价格更贵。</li>
        <li>目前还没有明确建立校外学生住房项目的开发意向。总的来说，校外学生住房只有3331张床位，根据2016年10月的Axiometrics市场调查，其目前的租售率为97.8%。其中4个学生宿舍楼被100%租售，棕榈公寓由于其管理问题，拥有81%的租售率。</li>
      </ul>
      <div class="text">一个具有优势地理位置风险可控的美国名牌大学学生公寓投资项目</div>
      <ul class="content">
        <li>完成交易所需的股本金投入为2384万美元</li>
        <li>RedBridge资本与基金管理公司设计了10%/90% GP/LP的股权结构，寻求合格投资者投资2146万美元（90%），RedBridge与基金管理公司将共同出资238万美元（10%）</li>
        <li>
          <div>商业计划：满4年后投资退出</div>
          <ul>
            <li>10年房利美贷款3930万美元（65%按揭比率），30年浮动利率摊销3.2%</li>
            <li>前期资本支出725600美元：最小资本支出计划，更衣室、过道通风、体育馆、电梯、互联网与有线电视、安全控制系统升级，额外的车库门安装和家具升级（460600美元）总额为725600美元。</li>
            <li>重点放在学生满意度与租赁续约，并计划增加15月周期的租约（吸引交换生与在职生）</li>
            <li>增加净营业收入，维持其95%的出租率，2022年的预期净营业收入为422万美元</li>
            <li>以5.75%的cap rate退出，预计价值为7180万美元</li>
            <li>假设项目4年退出，其内部收益率达到18.6%，并且拥有1.73倍的股本回报（扣除1%购买价格的收购费用，0.5%贷款额度的融资费，1.5%年度投资管理费与1%的处置费）</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="base-info">
      <div class="title">项目基本信息</div>
      <div class="text">距离加州大学校园0.3英里，比布莱恩街上所有的校园宿舍更接近</div>
      <div class="picture">
        <a href="/images/explorer-intro/ucr-001.png" data-lightbox="ucr-001">
          <img src="/images/explorer-intro/ucr-001.png">
        </a>
      </div>
      <div class="text">社区照片</div>
      <div class="pictures">
        <div class="list row">
          <div class="col-md-3 picture-box">
            <a href="/images/explorer-intro/ucr-002.png" data-lightbox="ucr-002">
              <img src="/images/explorer-intro/ucr-002.png">
            </a>
          </div>
          <div class="col-md-3 picture-box">
            <a href="/images/explorer-intro/ucr-003.png" data-lightbox="ucr-003">
              <img src="/images/explorer-intro/ucr-003.png">
            </a>
          </div>
          <div class="col-md-3 picture-box">
            <a href="/images/explorer-intro/ucr-004.png" data-lightbox="ucr-004">
              <img src="/images/explorer-intro/ucr-004.png">
            </a>
          </div>
          <div class="col-md-3 picture-box">
            <a href="/images/explorer-intro/ucr-005.png" data-lightbox="ucr-005">
              <img src="/images/explorer-intro/ucr-005.png">
            </a>
          </div>
        </div>
      </div>
      <div class="text">公用区域照片</div>
      <div class="pictures">
        <div class="list row">
          <div class="col-md-3 picture-box">
            <a href="/images/explorer-intro/ucr-006.png" data-lightbox="ucr-006">
              <img src="/images/explorer-intro/ucr-006.png">
            </a>
          </div>
          <div class="col-md-3 picture-box">
            <a href="/images/explorer-intro/ucr-007.png" data-lightbox="ucr-007">
              <img src="/images/explorer-intro/ucr-007.png">
            </a>
          </div>
          <div class="col-md-3 picture-box">
            <a href="/images/explorer-intro/ucr-008.png" data-lightbox="ucr-008">
              <img src="/images/explorer-intro/ucr-008.png">
            </a>
          </div>
          <div class="col-md-3 picture-box">
            <a href="/images/explorer-intro/ucr-009.png" data-lightbox="ucr-009">
              <img src="/images/explorer-intro/ucr-009.png">
            </a>
          </div>
        </div>
      </div>
      <div class="text">单元内照片</div>
      <div class="pictures">
        <div class="list row">
          <div class="col-md-3 picture-box">
            <a href="/images/explorer-intro/ucr-010.png" data-lightbox="ucr-010">
              <img src="/images/explorer-intro/ucr-010.png">
            </a>
          </div>
          <div class="col-md-3 picture-box">
            <a href="/images/explorer-intro/ucr-011.png" data-lightbox="ucr-011">
              <img src="/images/explorer-intro/ucr-011.png">
            </a>
          </div>
          <div class="col-md-3 picture-box">
            <a href="/images/explorer-intro/ucr-012.png" data-lightbox="ucr-012">
              <img src="/images/explorer-intro/ucr-012.png">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="base-info">
      <div class="title">财务要点</div>
       <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <td>总股本</td>
              <td>23,841,278</td>
            </tr>
            <tr>
              <td>项目总成本</td>
              <td>$63,141,278</td>
            </tr>
            <tr>
              <td>贷款金额</td>
              <td>$39,300,000</td>
            </tr>
            <tr>
              <td>利率</td>
              <td>3.20%</td>
            </tr>
            <tr>
              <td>% 贷款价值</td>
              <td>65.0%</td>
            </tr>
            <tr>
              <td>竞拍价格</td>
              <td>$60,500,000</td>
            </tr>
            <tr>
              <td>价格/单元</td>
              <td>$280,093</td>
            </tr>
            <tr>
              <td>价格/卧室</td>
              <td>$101,171</td>
            </tr>
            <tr>
              <td>价格/床位</td>
              <td>$91,945</td>
            </tr>
            <tr>
              <td>价格/平方尺</td>
              <td>$261.89</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th colspan="2" class="text-center">项目层面回报率</th>
              <th colspan="2" class="text-center">投资者层面回报率(90%)</th>
            </tr>
            <tr>
              <td>持有时间</td>
              <td>退出收益</td>
              <td>IRRs</td>
              <td>股本倍数</td>
              <td>IRRs</td>
              <td>EM</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>3</td>
              <td>5.25%</td>
              <td>26.7%</td>
              <td>1.79</td>
              <td>22.1%</td>
              <td>1.65</td>
            </tr>
            <tr>
              <td>4</td>
              <td>5.75%</td>
              <td>18.6%</td>
              <td>1.73</td>
              <td>14.9%</td>
              <td>1.58</td>
            </tr>
            <tr>
              <td>5</td>
              <td>6.25%</td>
              <td>14.7%</td>
              <td>1.70</td>
              <td>12.0%</td>
              <td>1.56</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="text">现金股本回报率 - 杠杆</div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>第一年</th>
              <th>第二年</th>
              <th>第三年</th>
              <th>第四年</th>
              <th>平均</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>9.69%</td>
              <td>10.49%</td>
              <td>11.26%</td>
              <td>11.90%</td>
              <td>10.84%</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="text">现金股本回报率 - 无杠杆</div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>第一年</th>
              <th>第二年</th>
              <th>第三年</th>
              <th>第四年</th>
              <th>平均</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>5.67%</td>
              <td>5.93%</td>
              <td>6.19%</td>
              <td>6.39%</td>
              <td>6.05%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="base-info">
      <div class="title">管理团队介绍</div>
      <ul class="content">
        <li>Red Bridge Capital是一家私有投资基金，服务于嫁接亚洲资本与美国不动产与学生公寓私募股权投资。由GFO公司与Cervantes Lee、David N. Fong于2015年成立。</li>
        <li>GFO是一家以房地产与家庭办公室为中心的投资公司，拥有30年的历史，拥有、开发和管理超过100万平方英尺的商业空间，3000多户住宅单位和10以上的有限服务酒店，其总资产价值超过3亿2500万美元。GFO公司在2002年成立了stuho公司，stuho在南加州大学市场成为了最大的学生住房业主/运营商/开发商，其下管理着69个物业、676个公寓单元、2000个床位，其资产管理总价值约为2亿2500万美元。GFO公司及其子公司管理的资产总额约为5亿5000万美元。 </li>
      </ul>
    </div>
  </div>
</div>

{{> footer}}
{{> scripts}}
<script src="/libs/lightbox/js/lightbox.min.js"></script>
<script src="/scripts/explorer-intro.js{{fileTail}}"></script>
