<div class="page-info">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        {{> sidebar}}
      </div>
      <div class="col-md-10">
        <form class="form-normal">
          <div class="form-group">
            <label for="nickname">昵称</label>
            <input type="text" class="form-control" id="nickname">
          </div>
          <div class="form-group">
            <label>性别</label>
            <div>
              <label class="radio-inline">
                <input type="radio" name="gender" value="1"> 男
              </label>
              <label class="radio-inline">
                <input type="radio" name="gender" value="2"> 女
              </label>
              <label class="radio-inline">
                <input type="radio" name="gender" value="0" checked> 保密
              </label>
            </div>
          </div>
          <button id="btnSubmit" type="button" class="btn btn-primary btn-submit">保存</button>
        </form>
      </div>
    </div>
  </div>
</div>

{{> footer}}
{{> scripts}}
