<div class="page-modify-password">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        {{> sidebar}}
      </div>
      <div class="col-md-10">
        <form class="form-normal">
          <div class="form-group">
            <label for="nickname">原密码</label>
            <input type="text" class="form-control" id="oldPassword">
          </div>
          <div class="form-group">
            <label for="nickname">新密码</label>
            <input type="text" class="form-control" id="password">
          </div>
          <div class="form-group">
            <label for="nickname">重复密码</label>
            <input type="text" class="form-control" id="comfirmPassword">
          </div>
          <button id="btnSubmit" type="button" class="btn btn-primary btn-submit">保存</button>
        </form>
      </div>
    </div>
  </div>
</div>

{{> footer}}
{{> scripts}}
