<div class="page-modify-password">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-2">
        {{> sidebar}}
      </div>
      <div class="col-md-10 col-sm-10">
        <form id="form" class="form-normal">
          <div class="form-group">
            <label for="oldPassword">原密码</label>
            <input type="password" class="form-control" id="oldPassword" name="oldPassword">
          </div>
          <div class="form-group">
            <label for="newPassword">新密码</label>
            <input type="password" class="form-control" id="newPassword" name="newPassword">
          </div>
          <div class="form-group">
            <label for="confirmPassword">重复密码</label>
            <input type="password" class="form-control" id="confirmPassword">
          </div>
          <button id="btnSubmit" type="button" class="btn btn-primary btn-submit">保存</button>
        </form>
      </div>
    </div>
  </div>
</div>

{{> footer}}
{{> scripts}}
<script src="/scripts/modify-password.js{{fileTail}}"></script>
