<div class="page-notification-detail">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        {{> sidebar}}
      </div>
      <div class="col-md-9 col-sm-9">
        notification detail
      </div>
    </div>
  </div>
</div>