<div class="page-dashboard">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-2">
        {{> sidebar}}
      </div>
      <div class="col-md-10 col-sm-10">
        wallet
      </div>
    </div>
  </div>
</div>

{{> footer}}
{{> scripts}}
