.page-dashboard {
  margin: 50px 0 70px;
  .overview {
    .info {
      padding: 15px;
      border-radius: 4px;
      .nickname {}
      .assets {
        margin-top: 15px;
      }
      .beta-slogan {
        margin-top: 15px;
        color: #d9534f;
      }
    }
  }
  .wallet {
    padding-bottom: 15px;
    margin-top: 30px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    .address-holder {
      padding: 15px;
      margin-top: 30px;
      .address {
        width: 100%;
        padding: 6px;
        margin: 15px 0 30px;
        background-color: #f9f9f9;
        border: 1px dashed #ddd;
        border-radius: 4px;
        text-align: center;
        font-size: 16px;
      }
    }
    .tips {
      padding: 40px 15px 20px;
      color: #999;
    }
    .download {
      padding: 0 15px;
      margin-bottom: 30px;
      .box {
        width: 158px;
        height: 158px;
        margin-bottom: 15px;
        background-color: #fafafa;
        border: 2px solid #fafafa;
        border-radius: 4px;
        text-align: center;
        &:hover {
          border: 2px solid #0094ff;
        }
        >img {
          width: 33px;
          margin-top: 20px;
        }
        .name {
          margin-top: 24px;
          font-size: 13px;
          color: #999;
        }
        .btn {
          padding: 1px 18px;
          margin-top: 18px;
        }
        .btn-blue {
          background-color: #0089ec;
          color: #fff;
          border: 1px solid #0089ec;
          &:hover,
          &:active {
            border-color: #006bb9;
          }
        }
        .development {
          margin-top: 18px;
          font-size: 12px;
          color: #999;
        }
      }
    }
  }
  .dividend-address {
    margin-top: 4px;
    .box {
      height: 110px;
      padding: 20px 15px;
      margin-top: 18px;
      border: 1px solid #000;
      border-radius: 5px;
      text-align: center;
      .glyphicon {
        display: block;
        margin-bottom: 14px;
        font-size: 26px;
      }
    }
    .box-green {
      color: #50c87e;
      border-color: #50c87e;
      .glyphicon {
        color: #50c87e;
      }
    }
    .box-yellow {
      color: #f5a623;
      border-color: #f5a623;
      .glyphicon {
        color: #f5a623;
      }
    }
  }
  .dividend {
    padding: 15px;
    margin-top: 40px;
    .dividend-title {
      margin-bottom: 10px;
    }
  }
  .dividend-less {
    padding: 30px 15px;
    .tips {
      color: #999;
    }
  }
  @media (max-width: 767px) {
    .wallet {
      .download {
        .box {
          margin-right: auto;
          margin-left: auto;
        }
      }
    }
  }
}
