.page-get-rewards {
  margin: 50px 0 70px;
  .intro {
    .title {
      font-size: 16px;
      color: #d9534f;
    }
    .rules {
      margin-top: 15px;
      color: #777;
      >p {
        line-height: 24px;
      }
    }
  }
  .wechat {
    margin-top: 45px;
    #qrcode {
      width: 200px;
      margin: 20px auto 0;
    }
  }
  .url {
    margin-top: 45px;
    .input-group {
      width: 100%;
      max-width: 600px;
    }
  }
  .code {
    margin-top: 45px;
    .box {
      max-width: 600px;
      padding: 6px;
      margin-top: 5px;
      background-color: #f9f9f9;
      border: 1px dashed #ddd;
      border-radius: 4px;
      text-align: center;
      font-size: 16px;
    }
  }
  .invite-list {
    margin-top: 50px;
    .title {
      font-size: 16px;
    }
    .list {
      margin-top: 10px;
    }
  }
}