.page-notification {
  margin: 50px 0 70px;
  .list {
    tr {
      color: #999;
      a {
        color: #999;
      }
    }
    .unread {
      a {
        position: relative;
        padding-left: 14px;
        color: $color-blue;
        &:after {
          display: block;
          position: absolute;
          top: 4px;
          left: 0;
          width: 8px;
          height: 8px;
          content: "";
          background-color: #d9534f;
          border-radius: 50%;
        }
      }
    }
  }
  .pagination-holder {
    text-align: right;
  }
}