.page-security {
  margin: 50px 0 70px;
  .record-list {
    margin-top: 50px;
    .record-title {
      margin-bottom: 10px;
    }
  }
  .panel-body {
    >div {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .risk-score {
      margin-left: 30px;
    }
  }
}