.sidebar {
  .sidenav {
    margin-bottom: 30px;
    >li {
      display: block;
      height: 40px;
      line-height: 40px;
    }
    .nav-head {
      margin-top: 20px;
      margin-bottom: 8px;
      font-weight: 700;
      &:first-child {
        margin-top: 0;
      }
    }
    .nav-item {
      padding-left: 16px;
      margin-bottom: 8px;
      &.active {
        background-color: $color-blue;
        >a {
          color: #fff;
        }
      }
      >a {
        display: block;
        color: #777;
      }
    }
  }
}
