.page-signup {
  .form-title {
    max-width: 460px;
    margin: 60px auto 24px;
    font-size: 22px;
    color: #999;
  }
  .form-big-holder {
    position: relative;
    margin-bottom: 60px;
    .btn-sms {
      &.disabled {
        color: #999;
      }
    }
  }
  #successHolder {
    padding: 70px 0;
    text-align: center;
    .layer {
      width: 220px;
      height: 220px;
      margin: 0 auto;
      padding: 20px;
      background-color: rgba(0, 137, 236, .08);
      border-radius: 50%;
      .layer {
        width: 180px;
        height: 180px;
        .layer {
          width: 140px;
          height: 140px;
        }
      }
    }
    .glyphicon-ok {
      display: block;
      width: 100px;
      height: 100px;
      margin: 0 auto;
      font-size: 28px;
      background-color: #0089ec;
      color: #fff;
      border-radius: 50%;
      text-align: center;
      line-height: 100px;
    }
    h3 {
      margin-top: 40px;
    }
    >p {
      margin-top: 12px;
      color: #999;
    }
  }
}
