.page-verify-id {
  margin: 50px 0 70px;
  
  .icon-spin {
    color: #777;
    animation: spin 1s infinite linear;
  }

  .preview-box {
    display: block;
    max-width: 380px;
    margin-top: 10px;
  }
}