.page-error {
  text-align: center;
  color: #c0c0c0;
  text-shadow: 7px 7px 5px rgba(100, 100, 100, .2);
  .status {
    margin-top: 60px;
    font-size: 96px;
  }
  .message {
    font-size: 32px;
  }
}