.form-big-holder {
  max-width: 460px;
  padding: 33px 36px;
  margin: 0 auto;
  background-color: #fcfcfc;
  border: 2px solid #d8dee1;
  border-radius: 4px;
}

.form-big {
  .form-group {
    margin-bottom: 30px;
  }
  .btn-sms {
    display: block;
    padding-top: 14px;
    font-size: 13px;
    &.disabled {
      color: #999;
    }
  }
  .cpptcha-img {
    width: 100px;
    height: 46px;
    cursor: pointer;
  }
  .btn-submit {
    margin-top: 40px;
  }
  .form-help {
    margin-top: 10px;
    text-align: right;
  }
  .help-block {
    font-size: 12px;
  }
}

.form-normal {
  .form-group {
    margin-bottom: 20px;
    input,
    select {
      max-width: 380px;
    }
  }
  .btn-sms {
    display: block;
    padding-top: 8px;
    font-size: 13px;
    &.disabled {
      color: #999;
    }
  }
  .help-block {
    font-size: 12px;
  }
  .btn-submit {
    margin-top: 10px;
  }
}
