.page-home {
  .banner-home {
    width: 100%;
    height: 450px;
    background-image: url("/images/banner-home.jpg");
    background-position: center top;
    background-size: cover;
  }
  .block-1 {
    padding: 60px 0 50px;
    .home-character-1 {
      margin-bottom: 20px;
      text-align: center;
      >img {
        width: 382px;
        max-width: 100%;
      }
    }
    .title {
      font-size: 20px;
      .underline {
        padding: 0 0 3px;
        color: $color-blue;
        border-bottom: 2px solid $color-blue;
      }
    }
    .content {
      margin: 15px 0 20px;
      color: #858585;
      >p {
        margin: 0 0 20px;
        line-height: 26px;
      }
    }
  }
  .block-2 {
    width: 100%;
    padding: 70px 0 50px;
    background-image: url("/images/home-bgi-1.jpg");
    background-position: center top;
    background-size: cover;
    .card {
      width: 80%;
      padding: 40px;
      margin: 0 auto 30px;
      background-color: #fff;
      border-radius: 5px;
    }
    .title {
      text-align: center;
      font-size: 18px;
      color: $color-blue;
      .icon {
        display: block;
        width: 30px;
        height: 30px;
        margin: 0 auto 8px;
        &.icon-earth {
          background-position: 0 0;
        }
        &.icon-link {
          background-position: -31px 0;
        }
        &.icon-gear {
          background-position: 0 -31px;
        }
      }
    }
    .content {
      margin-top: 20px;
      font-size: 12px;
      color: #929ba0;
      >p {
        margin: 0 0 8px;
        line-height: 20px;
      }
    }
  }
  .block-3 {
    padding: 60px 0;
    .block-header {
      font-size: 26px;
      text-align: center;
      >a {
        >span {
          padding: 3px 0;
          border-bottom: 2px solid $color-blue;
        }
      }
    }
    .block-body {
      margin-top: 50px;
      .card {
        margin-bottom: 20px;
        >a {
          color: #000;
          &:hover, &:active {
            color: $color-blue;
          }
        }
      }
      .title {
        text-align: center;
        font-size: 14px;
        .icon {
          display: block;
          width: 62px;
          height: 62px;
          margin: 0 auto 8px;
          &.icon-building {
            background-position: 0 -62px;
          }
          &.icon-securities {
            background-position: 0 -120px;
          }
          &.icon-shakehands {
            background-position: 0 -174px;
          }
          &.icon-transaction {
            background-position: 0 -238px;
          }
        }
      }
    }
  }
  .block-4 {
    padding: 60px 0 50px;
    background-color: #eee;
    .block-header {
      font-size: 26px;
      text-align: center;
      >a {
        >span {
          padding: 3px 0;
          border-bottom: 2px solid $color-blue;
        }
      }
    }
    .block-body {
      margin-top: 60px;
      .card {
        margin-bottom: 30px;
        text-align: center;
        font-size: 14px;
        >a {
          &:hover,
          &:active {
            .name {
              color: $color-blue;
            }
          }
        }
        .team-avatar {
          display: block;
          width: 100px;
          height: 100px;
          margin: 0 auto;
          border-radius: 50px;
        }
        .name {
          margin: 20px 0 5px;
          color: #000;
          font-size: 18px;
        }
        .office {
          color: #929ba0;
        }
      }
    }
  }
  .block-5 {
    padding: 60px 0 50px;
    .block-header {
      font-size: 26px;
      text-align: center;
      >a {
        >span {
          padding: 3px 0;
          border-bottom: 2px solid $color-blue;
        }
      }
    }
    .block-body {
      margin-top: 30px;
      .article-list {
        >li {
          position: relative;
          padding-left: 65px;
          .number {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 38px;
            color: $color-blue;
          }
          .article {
            .title {
              font-size: 16px;
              padding-top: 10px;
              margin-top: 5px;
            }
            .content {
              padding-bottom: 30px;
              margin-top: 10px;
              font-size: 12px;
              color: #929ba0;
              border-bottom: 1px solid #eee;
            }
          }
        }
      }
    }
  }
}
