<div class="page-article">
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="article">
          <div class="cover">
            <img src="/images/{{article.cover}}">
          </div>
          <div class="title">{{article.title}}</div>
          <div class="date">{{article.date}}</div>
          <div class="content">{{{article.content}}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

{{> footer}}
{{> scripts}}