{{> banner-other}}
<div class="page-service">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="card">
          <div class="title"><span class="underline">资产证券化的区块链解决方案</span></div>
          <div class="content">
            <p>用区块链技术搭建ABS及类REITs等金融资产交易所，为产品发行和交易提供一站式解决方案。</p>
            <p>将有租金收益的商业不动产进行资产证券化（发行REITs），并利用区块链以数字资产形式在全球市场发布。</p>
            <p>将商业不动产的经营及收益的分红情况，公示在区块链上, 分红用数字货币实现。</p>
            <p>建立区块链为底层技术的数字资产交易平台，为REITs等金融资产提供流动性。</p>
          </div>
        </div>
        <div class="card">
          <div class="title"><span class="underline">私募股权交易区块链解决方案</span></div>
          <div class="content">
            <p>提供创业公司的股权登记，股权激励计划管理及和股权转让的场外交易（OTC）服务。</p>
          </div>
        </div>
        <div class="card">
          <div class="title"><span class="underline">房地产融资</span></div>
          <div class="content">
            <p>为房地产开发商和运营商提供房地产项目的融资，包括债权、夹层及股权融资的全面解决方案。</p>
          </div>
        </div>
        <div class="card">
          <div class="title"><span class="underline">交易撮合</span></div>
          <div class="content">
            <p>为不动产及金融资产的转让及交易提供撮合服务。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{> footer}}
{{> scripts}}