<div class="page-beta-intro">
  <div class="banner">
    <div class="container">
      <div class="content">
        <div class="title">瑞资链开启公测</div>
        <div class="subtitle row">
          <div class="col-md-6 col-sm-6">全民分享百万股份</div>
          <div class="col-md-6 col-sm-6">三重玩法抢到手软</div>
        </div>
        <a href="/signup" class="banner-btn-signup notLogged">立即注册</a>
      </div>
    </div>
  </div>
  <div class="first">
    <div class="container">
      <div class="title">第一重：全民合伙人计划</div>
      <div class="subtitle">瑞资链公测期间，新用户完成以下3步就能成为瑞资全民合伙人，登录钱包即刻获得100RTSt奖励，人人有份！</div>
      <div class="steps row">
        <div class="col-md-4 col-sm-4 step">
          <img src="/images/beta-icon-signup.png">
          <div class="text">1. 注册成为瑞资用户</div>
        </div>
        <div class="col-md-4 col-sm-4 step">
          <img src="/images/beta-icon-verify.png">
          <div class="text">2. 完成实名认证</div>
        </div>
        <div class="col-md-4 col-sm-4 step">
          <img src="/images/beta-icon-download.png">
          <div class="text">3. 下载瑞资链钱包</div>
        </div>
      </div>
    </div>
    <div class="banner-download">
      <div class="content">
        <div class="btn-holder row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <a href="" class="banner-btn-download">
              <img src="/images/beta-btn-download-win64.png">
            </a>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <a href="" class="banner-btn-download">
              <img src="/images/beta-btn-download-win32.png">
            </a>
          </div>
        </div>
        <div class="text">需要Windows 7+系统。如本机系统版本较低请先升级本机系统。</div>
      </div>
    </div>
  </div>
  <div class="second">
    <div class="container">
      <div class="title">第二重：呼朋唤友 推荐有礼 </div>
      <div class="subtitle">
        <p>推荐好友参与公测可拿RTSt奖励，两级邀请奖励机制，给你最大惊喜！</p>
        <p>直接成功邀请得1级邀请奖励：100RTSt；间接成功邀请得2级邀请奖励：50RTSt。</p>
      </div>
      <div class="rules">
        <img src="/images/beta-icon-reward.png" class="rule-icon" />
        <div class="list-title">
          <span>详细规则</span>
        </div>
        <div class="list">
          <ul>
            <li>1.活动奖励：邀请好友参与瑞资链公测，成功邀请1名好友可以获得100RTSt1级邀请奖励，好友再成功邀请1名好友，还可获得50RTSt2级邀请奖励。</li>
            <li>2.成功邀请条件：好友通过邀请链接完成注册认证，下载瑞资钱包，完成首次登录。</li>
            <li>3.奖励范围：仅奖励第1级邀请和第2级邀请，举例：A成功邀请B，A获得1级邀请奖励100RTSt；B成功邀请C，A获得2级邀请奖励50RTSt，B获得1级邀请奖励100RTSt；C再成功邀请一位朋友，A不再获得邀请奖励，B获得2级邀请奖励，C获得1级邀请奖励。</li>
            <li>4.问题反馈渠道：加入瑞资链测试群，QQ群号253988302，@管理员即可得到帮助。</li>
            <li>5.如果您有好的推广渠道，欢迎联系 <a href="mailto:BD@reitsfax.com">BD@reitsfax.com</a> 合作洽谈。</li>
          </ul>
          <div class="helper-text">* 瑞资科技保留本活动解释权</div>
        </div>
      </div>
    </div>
  </div>
  <div class="third">
    <div class="container">
      <div class="title">第三重：每日3分钟任务 轻松得奖励</div>
      <div class="subtitle">我们以发行测试资产的方式来发布公测任务，用户可以通过交易、抽奖、竞猜等玩法获得RTSt奖励。</div>
      <div class="events">
        <img src="/images/beta-icon-stars.png" class="event-icon" />
        <div class="list-title">
          <span>进行中的活动</span>
        </div>
        <div class="list">
          <ul>
            <li>每日交易活动（第1期）</li>
            <li>1. 第1期每日交易活动奖励总量为100万RTSt，奖励发完活动即结束。</li>
            <li>
              <div class="text">2. 活动期间用户向不重复钱包地址转出该资产的笔数，达到下述任务要求即可获得相应奖励。</div>
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <td>每日任务</td>
                      <td>要求</td>
                      <td>奖励</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>任务1</td>
                      <td>向不重复地址转账5笔</td>
                      <td>3 RTSt</td>
                    </tr>
                    <tr>
                      <td>任务2</td>
                      <td>向不重复地址转账15笔</td>
                      <td>12 RTSt</td>
                    </tr>
                    <tr>
                      <td>任务3</td>
                      <td>向不重复地址转账30笔</td>
                      <td>30 RTSt</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </li>
            <li>3. 活动统计时间：每日0点0分到23点59分。</li>
            <li>奖励发放：用户每完成1个任务，就会收到官方钱包地址发出的任务奖励，奖励到账时间取决于工单拍排队情况和交易的上链打包速度，因此不可避免会有延迟。</li>
          </ul>
          <div class="helper-text">* 瑞资科技保留本活动解释权</div>
        </div>
      </div>
    </div>
  </div>
  <div class="banner-footer">
    <div class="container">
      <div class="title">其他活动敬请期待</div>
      <div class="info-list">
        <div>如何获取更多公测信息：</div>
        <ul>
          <li>1. 加入瑞资链公测QQ群：瑞资链测试群 253988302</li>
          <li>2. 访问瑞资官方论坛：<a href="http://8btc.com/reits" target="_blank">http://8btc.com/reits</a></li>
          <li>3. 关注瑞资官方微信和微博</li>
        </ul>
        <img src="/images/beta-qrcode.png" class="qrcode">
      </div>
      <div class="email">如果您是媒体、投资人或者有合作意向请邮件联系 <a href="mailto:BD@reitsfax.com">BD@reitsfax.com</a></div>
    </div>
  </div>
</div>
{{> footer}}
{{> scripts}}
