<div class="page-beta-intro">
  <div class="banner">
    <div class="container">
      <img src="/images/beta-banner-title.png" alt="" class="title">
    </div>
  </div>
  
  <div id="plan" class="plan">
    <div class="container">
      <div class="title">第一重：全民合伙人计划</div>
      <div class="sub-title">瑞资链公测期间，新用户完成以下3步就能成为瑞资全民合伙人，登录钱包即可获得100RTSt奖励，人人有份！</div>
      <div class="row box-holder">
        <div class="col-md-4 col-sm-4">
          <div class="box">
            <img src="/images/beta-icon-download.png" class="icon">
            <div class="text">1.下载瑞资链钱包</div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="box">
            <img src="/images/beta-icon-signup.png" class="icon">
            <div class="text">2.注册成为瑞资用户</div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="box">
            <img src="/images/beta-icon-verify.png" class="icon">
            <div class="text">3.完成简单实名认证</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div id="download" class="download">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-2 col-md-offset-1 col-sm-offset-1">
          <div class="box" title="" data-original-title="64位操作系统">
            <i class="fa fa-windows"></i>
            <div class="name">Windows</div>
            <a href="http://oq7hdxsc2.bkt.clouddn.com/wallet_0.6.7.exe" class="btn btn-download">下载</a>
          </div>
        </div>
        <div class="col-md-2 col-sm-2">
          <div class="box" title="" data-original-title="Mac OS X">
            <i class="fa fa-apple"></i>
            <div class="name">Mac</div>
            <a href="http://oq7hdxsc2.bkt.clouddn.com/wallet_0.6.7.dmg" class="btn btn-download">下载</a>
          </div>
        </div>
        <div class="col-md-2 col-sm-2">
          <div class="box" title="" data-original-title="Linux">
            <i class="fa fa-linux"></i>
            <div class="name">Linux</div>
            <a href="http://oq7hdxsc2.bkt.clouddn.com/wallet_0.6.7.zip" class="btn btn-download">下载</a>
          </div>
        </div>
        <div class="col-md-2 col-sm-2">
          <div class="box-qrcode" title="" data-original-title="安卓系统4.2及以上">
            <div class="android-qrcode" data-url="http://oq7hdxsc2.bkt.clouddn.com/wallet_0.6.7.apk"></div>
            <div class="name">Android</div>
          </div>
        </div>
        <div class="col-md-2 col-sm-2">
          <div class="box disabled" title="" data-original-title="审核中">
            <i class="fa fa-mobile-phone"></i>
            <div class="name">iOS</div>
            <a class="btn btn-download">即将推出</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="reward">
    <div class="container">
      <div class="title">第二重：呼朋唤友 推荐有礼</div>
      <div class="sub-title">推荐好友参与公测，成功邀请1名好友可获得100RTSt奖励！</div>
      <img src="/images/beta-icon-reward.png" class="icon">
      <div class="rules">
        <div class="rules-title">活动规则</div>
        <div class="rules-list">
          <p>1.活动奖励：邀请好友参与瑞资链公测，成功邀请1名好友可以获得100RTSt邀请奖励。</p>
          <p>2.成功邀请条件：好友通过邀请链接完成注册认证，下载瑞资钱包，完成首次登录。</p>
          <p>3.问题反馈渠道：加入瑞资链测试群，QQ群号253988302，@管理员即可得到帮助。</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="mission">
    <div class="container">
      <div class="title">第三重：每日3分钟任务 轻松得奖励</div>
      <div class="sub-title">我们以发行测试资产的方式来发布公测任务，用户可以通过流转测试资产获得相应奖励，也可以访问瑞资链官方论坛参与盖楼、提交BUG等方式赢取更多RTSt奖励。</div>
      <img src="/images/beta-icon-stars.png" class="icon">
      <div class="rules">
        <div class="rules-title">进行中的活动</div>
        <div class="rules-list">
          <p>每日交易活动（第1期）</p>
          <p>用户每日流转测试资产，达到任务要求即可获得丰厚奖励，第1期奖励总量为100万RTSt。<a href="/explorer/asset/1/intro" target="_blank">玩法介绍>></a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-banner">
    <div class="container">
      <div class="title">更多精彩活动敬请期待……</div>
      <div class="content">
        <p>如何获取更多公测信息：</p>
        <p>1.加入瑞资链公测QQ群：瑞资链测试群 253988302</p>
        <p>2.访问瑞资官方论坛：http://8btc.com/reits</p>
        <p>3.关注瑞资官方微信和微博</p>
        <img src="/images/beta-qrcode.png" class="qrcode">
        <p>如果您是媒体、投资人或者有合作意向请邮件联系 <a href="mailto:BD@reitsfax.com" class="link-email">BD@reitsfax.com</a></p>
        <div class="explain">*瑞资团队保留所有活动解释权</div>
      </div>
    </div>
  </div>
</div>
{{> footer}}
{{> scripts}}
<script src="/libs/jquery.qrcode.min.js"></script>
<script src="/scripts/beta-intro.js{{fileTail}}"></script>

