<!DOCTYPE html>
<!--[if lte IE 7]> <html class="ie7"> <![endif]-->
<!--[if IE 8]> <html class="ie8"> <![endif]-->
<!--[if IE 9]> <html class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="瑞资科技，专心让区块链技术落地。">
  <meta name="keywords" content="瑞资,瑞资链,瑞资北京,REITs,REITsChain,资产证券化,区块链,区块链金融">
  <meta name="format-detection" content="telephone=no, email=no">
  <title>瑞资链</title>
  <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css">
  <!--<link rel="stylesheet" href="/libs/fullpage/jquery.fullpage.min.css">-->
  <link rel="stylesheet" href="/styles/default.css{{fileTail}}">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <!--[if lt IE 9]>
    <script src="/libs/html5shiv.min.js"></script>
    <script src="/libs/respond.min.js"></script>
  <![endif]-->
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
</head>

<body>
  <div id="page" class="page-home">
    <div class="section home-ico">
      <img src="/images/home01.png" class="contentImg">


      <div class="content home01Content">

        <div class="title">
          <div class="titleText">基于区块链技术的互动社区</div>
        </div>
        <div class="sub-title">——  Nova Realm City  ——</div>
        <p>新世界城</p>
        <p> 是一个实名制数字资产社区为全球数字资产从业者和爱好者打造的互动平台</p>
        <p>用价值互动实现区块链社区的价值创造。</p>
        <a href="/downloads" class="btn btn-default btn-beta">APP下载</a>

      </div>

    </div>
    <div class="section">
      <div class="">
        <div class="bottom-block">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="box">
                  <div class="boxIcon">
                    <img src="/images/box01.png" alt="">
                  </div>
                  <div class="textContainer">
                    <div class="title">全实名用户体系</div>
                    <div class="text">社区所有运营者和参与者都必须实名登记，这样可以实现用户KYC、金融系统AML以及用户权益保障等服务。</div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="box">
                  <div class="boxIcon">
                    <img src="/images/box02.png" alt="">
                  </div>
                  <div  class="textContainer">
                    <div class="title">43亿种资产数字化能力</div>
                    <div class="text">最多43亿种相互独立的数字资产社区，每个数字资产社区建立时都有相关授信人签名的申明资料，并公示在区块链账本上。</div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="box">
                  <div class="boxIcon">
                    <img src="/images/box03.png" alt="">
                  </div>
                  <div class="textContainer">
                    <div class="title">符合监管的系统运维机制</div>
                    <div class="text">Nova Realm City系统的所有运维行为由区块链记录，无法抵赖和作假。</div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="box">
                  <div class="boxIcon">
                    <img src="/images/box04.png" alt="">
                  </div>
                  <div class="textContainer">
                    <div class="title">分布式账本共识机制</div>
                    <div class="text">Nova Realm City为商业记账体系的即时性要求特别设计“签名共识”，签名共识下的交易记账可以即时进行、即时确认。</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section home-ico">
      <img src="/images/home02.png" class="contentImg homeImg">


      <div class="content">

        <div class="title home02Title">
          <div class="titleSubText">NRC社区是什么？</div>
        </div>
        <div class="home02Content container">
          <div class="home02Left">
            <p>
              Nova Realm City 是全球首个基于实名制区块链技术建立的虚拟社区，
              可面向全球提供资产数字化服务，并以建立独立数字资产社区的方式让社区建立者和支持者直接互动，
              并让社区成员（即持有者）充分参与到社区或项目的建设中。颠覆传统的社区组织架构，
              让社区基于价值互动进行项目构建和社区发展，进而提升社区的价值。
            </p>
            <a href="/downloads" class="btn btn-default btn-beta btn-blue">APP下载</a>
          </div>
          <div class="home02Right">
            <div class="home02RightFig">
              <img src="/images/quanyi.png" alt="jietu01">
              <p class="home02RightText">独立的数字资产社区</p>
            </div>
            <div class="home02RightFig">
              <img src="/images/sheqv.png" alt="jietu02">
              <p class="home02RightText">持有份额决定成员权益</p>
            </div>

          </div>
        </div>



      </div>

    </div>
    <div class="section home-ico">
      <img src="/images/home03.png" class="contentImg homeImg">


      <div class="content">
        <div class="container">
          <div class="title">
            <div class="home03Title">NRC 代币 — 新世界城的邀请函</div>
          </div>

          <p class="home03Content">Nova Realm City的原生代币是NRC，总计只有3500万枚，我们将从全球招募区块链爱好者，持有NRC即成为Nova Realm City的社区成员。社区成员按照其所持有的NRC数量，享有相对应社区等级的相关权益。社区成员还可以获得社区发展与个人社区贡献的红利。</p>

        </div>

      </div>

    </div>






  </div>
  {{> scripts}}
  <!--<script src="/libs/fullpage/jquery.fullpage.min.js"></script>-->
  <script src="/scripts/home.js{{fileTail}}"></script>
</body>

</html>
