<!DOCTYPE html>
<!--[if lte IE 7]> <html class="ie7"> <![endif]-->
<!--[if IE 8]> <html class="ie8"> <![endif]-->
<!--[if IE 9]> <html class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="瑞资科技，专心让区块链技术落地。">
  <meta name="keywords" content="瑞资,瑞资链,瑞资北京,REITs,REITsChain,资产证券化,区块链,区块链金融">
  <meta name="format-detection" content="telephone=no, email=no">
  <title>瑞资链</title>
  <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/default.css{{fileTail}}">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <!--[if lt IE 9]>
    <script src="/libs/html5shiv.min.js"></script>
    <script src="/libs/respond.min.js"></script>
  <![endif]-->
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
</head>

<body>
  <div class="page-home">
    <div class="header-banner">
      <div class="container content">
        <img src="/images/logo-simple-white.png" alt="瑞资链" class="logo">
        <div class="title">瑞资链</div>
        <div class="slogan">我们专心让区块链技术落地</div>
        <div class="btn btn-default btn-beta">公测即将开启</div>
      </div>
    </div>
    <div class="block-intro block-1">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4 text-center">
            <img src="/images/icon-files.png" class="block-icon">
          </div>
          <div class="col-md-7 col-sm-7">
            <img src="/images/number-01.png" class="number">
            <div class="title">
              <p>由法律文件公示，</p>
              <p>发行出来的区块链资产</p>
            </div>
            <div class="content">
              <p>由严格的法律文件在链上公示，确保所有的资产发行拥有法律效力。</p>
              <p>40亿种资产发行空间，满足最复杂的业务需求。</p>
              <p>严格实名制。链上的任何一个地址，都具有严格的KYC流程。并由专业的合法认证公司将认可证明，公示在链上。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="block-intro block-2">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-2 col-md-4 col-sm-offset-2 col-sm-4">
            <img src="/images/number-02.png" class="number">
            <div class="title">
              <p>密钥丢失，</p>
              <p>终于可以把资产找回了</p>
            </div>
            <div class="content">
              <p>数字资产由实名登记和私钥双重确权，资产无丢失风险。</p>
              <p>挂失、冻结、公示、注销、找回，拥有完整的业务流程。</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 text-center">
            <img src="/images/icon-safe.png" class="block-icon">
          </div>
        </div>
      </div>
    </div>
    <div class="block-intro block-3">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4 text-center">
            <img src="/images/icon-issue.png" class="block-icon">
          </div>
          <div class="col-md-7 col-sm-7">
            <img src="/images/number-03.png" class="number">
            <div class="title">
              <p>像写博客一样，</p>
              <p>简单的发行自己的资产</p>
            </div>
            <div class="content">
              <p>商业企业，完全无需考虑任何区块链技术细节，享受区块链带来的一切优势。</p>
              <p>商业公司，在法律合规框架内，拥有最大的自由度和自主权。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="block-summary">
      <div class="container">
        <div class="title">未来无限可能</div>
        <img src="/images/wechat.png" class="qrcode">
        <div class="content">
          <p>密钥丢失，终于可以把资产找回了。</p>
          <p>数字资产由实名登记和私钥双重确权，资产无丢失风险。</p>
          <p>挂失、冻结、公示、注销、找回，拥有完整的业务流程。</p>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="title">瑞资（北京）科技有限公司</div>
            <div class="content">
              <p>地址：北京市朝阳区望京嘉润花园B座 无界空间</p>
              <p>电话：<a href="tel:400-0599980">400-0599980</a></p>
              <p>邮箱：<a href="mailto:bd@reitsfax.com">bd@reitsfax.com</a></p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="title">社交媒体</div>
            <div class="content">
              <p>
                <a href="http://weibo.com/u/5999479802" target="_blank">官方微博</a>
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="title">其它</div>
            <div class="content">
              <!-- 正式版中暂时不显示区块链浏览器 -->
              {{#ifCond ENV '!==' 'production'}}
              <p>
                <a href="/explorer" target="_blank">区块链浏览器</a>
              </p>
              {{/ifCond}}
              <p>
                <a href="/terms" target="_blank">服务条款</a>
              </p>
              <p>
                <a href="/help/pos" target="_blank">POS 共识机制</a>
              </p>
            </div>
          </div>
        </div>
        <div class="hr"></div>
        <div class="copyright">© 瑞资链 &nbsp;|&nbsp; 京ICP备16039726号-1</div>
      </div>
    </div>
  </div>
  {{> scripts}}
</body>
</html>
