<!DOCTYPE html>
<!--[if lte IE 7]> <html class="ie7"> <![endif]-->
<!--[if IE 8]> <html class="ie8"> <![endif]-->
<!--[if IE 9]> <html class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="瑞资科技，专心让区块链技术落地。">
  <meta name="keywords" content="瑞资,瑞资链,瑞资北京,REITs,REITsChain,资产证券化,区块链,区块链金融">
  <meta name="format-detection" content="telephone=no, email=no">
  <title>瑞资链</title>
  <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/libs/fullpage/jquery.fullpage.min.css">
  <link rel="stylesheet" href="/styles/default.css{{fileTail}}">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <!--[if lt IE 9]>
    <script src="/libs/html5shiv.min.js"></script>
    <script src="/libs/respond.min.js"></script>
  <![endif]-->
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
</head>

<body>
  <div id="page" class="page-ico">
    <div class="head-banner">
      <div class="content">
        <div class="title">
          <img src="/images/reitschain.png">
          <p>金融资产进入数字资产市场的发行通道</p>
        </div>
        <div class="sub-title">ICO 即将开始</div>
      </div>
    </div>

    <div class="partner">
      <div class="title">ICO 合作方</div>
      <img class="partner-line" src="/images/ico-bgi-partner.png" >
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <a class="ready partner-link" href="https://www.ico365.com/pitch/index/140" target="_blank">ICO365</a>
            </div>
            <div class="col-sm-4">
              <a class="ready partner-link" href="https://www.btc9.com/Ico/Ico/details/id/18.html" target="_blank">币投资</a>
            </div>
            <div class="col-sm-4">
              <a class="ready partner-link" href="https://www.icogogo.com/Itemdetail/index/tid/98" target="_blank">ICOGOGO</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="about">
      <div class="title">关于瑞资链</div>
      <div class="text">瑞资链 REITs Chain，通过区块链技术改造和架构设计清扫区块链在金融行业落地的最后障碍，是满足法律规定和监管要求的数字资产聚合型的区块链，打造真实金融资产通向全球数字资产市场的光速通道，为繁荣全球数字资产市场而生。</div>
      <div class="content">
        <div class="col-sm-4 box">
          <img src="/images/ico-icon-whitepaper.png">
          <a href="https://github.com/REITs-Chain/white-paper" target="_blank">白皮书下载</a>
        </div>
        <div class="col-sm-4 box">
          <img src="/images/ico-icon-wallet.png">
          <a href="/beta/intro" target="_blank">轻钱包公测</a>
        </div>
        <div class="col-sm-4 box box-soon">
          <img src="/images/ico-icon-code.png">
          <a>源代码即将公开</a>
        </div>
      </div>
    </div>

    <div class="program">
        <div class="title">瑞资通 ICO 方案</div>
        <div class="content">
          <div>ICO时间：北京时间 2017/6/16 13:00-2017/7/7 13:00 为期22天</div>
          <div>瑞资通总量：3500万</div>
          <div>ICO总量：1200万</div>
          <div>
            <p>ICO售卖计划：</p>
            <img class="program-table" src="/images/ico-table.jpg">
            <p>本次ICO众售瑞资通（RTS）上限为1200万，不设最低限。如ICO结束仍有未完成售卖的份额，将自动注入瑞资链社区发展基金。</p>
            <p>以上购买比例会在ICO正式开始之前重新评估调整，以平衡不同币种参与ICO的成本。</p>
          </div>
          <div class="subtitle">RTS分配方案</div>
          <div>34.29%份额于本次ICO发售，29.57%份额为前期支持者回馈，28.57%份额将于5年内释放给瑞资链社区，7.57%份额由瑞资链团队持有。</div>
          <img class="program-pie" src="/images/ico-pie.png">
        </div>
    </div>
    
    <div class="foot-banner">
      <div class="content">
        <div class="main-title">计划</div>
        <img class="plan-img" src="/images/ico-plan.png" >
      </div>
      <div class="bottom-block">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="title">瑞资（北京）科技有限公司</div>
              <div class="detail">
                <p>地址：北京市朝阳区望京国际商业中心F座B楼</p>
                <p>电话：<a href="tel:400-0599980">400-0599980</a></p>
                <p>邮箱：<a href="mailto:bd@reitsfax.com">bd@reitsfax.com</a></p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="title">社交媒体</div>
              <div class="detail">
                <p>
                  <a id="wechat">微信公众号</a>
                </p>
                <p>
                  <a href="http://weibo.com/u/5999479802" target="_blank">官方微博</a>
                </p>
                <p>
                  <a href="http://8btc.com/forum-133-1.html" target="_blank">论坛</a>
                </p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="title">其它</div>
              <div class="detail">
                <p>
                  <a href="/explorer">区块链浏览器</a>
                </p>
                <p>
                  <a href="https://github.com/REITs-Chain/white-paper" target="_blank">瑞资链白皮书</a>
                </p>
                <p>
                  <a href="/terms">服务条款</a>
                </p>
              </div>
            </div>
          </div>
          <div class="copyright">© 瑞资链 &nbsp;|&nbsp; 京ICP备16039726号-1</div>
        </div>
      </div>
      <div class="wechat-qrcode hide">
        <a class="wechat-close"><i class="glyphicon glyphicon-remove-circle"></i></a>
        <img src="/images/wechat-qrcode.png" alt="">
      </div>
    </div>

  </div>
  {{> scripts}}
  <script src="/scripts/ico.js{{fileTail}}"></script>
</body>

</html>
