<!DOCTYPE html>
<!--[if lte IE 7]> <html class="ie7"> <![endif]-->
<!--[if IE 8]> <html class="ie8"> <![endif]-->
<!--[if IE 9]> <html class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="瑞资科技，专心让区块链技术落地。">
  <meta name="keywords" content="瑞资,瑞资链,瑞资北京,REITs,REITsChain,资产证券化,区块链,区块链金融">
  <meta name="format-detection" content="telephone=no, email=no">
  <title>瑞资链</title>
  <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/libs/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/default.css{{fileTail}}">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <!--[if lt IE 9]>
    <script src="/libs/html5shiv.min.js"></script>
    <script src="/libs/respond.min.js"></script>
  <![endif]-->
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
</head>
<body>
  <!--[if lt IE 9]><p class="browsehappy">{{{__ "browsehappy"}}}</p><![endif]-->
  <!-- {{> system-notice}} -->
  {{> header}}
  {{> alert}}
  {{{body}}}
</body>
</html>
