<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{__ 'title'}}</title>
  <link rel="stylesheet" href="/styles/style.css{{fileTail}}">
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
</head>
<body>
  {{> header}}
  {{{body}}}
  {{> footer}}
</body>
</html>
